@model PagedList.IPagedList<BookStoreAdmin.Models.order>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="page-header mt-5">
    <div class="row">
        <div class="col">
            <h3 class="page-title">Quản lý đơn hàng</h3>
        </div>
    </div>
</div>

<div>
    <p>
        @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-primary mb-3" })
    </p>
</div>

<div class="card card-table">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-stripped table-hover table-center mb-0">
                <thead>
                    <tr>
                        <th>Người Đặt Hàng</th>
                        <th>Địa Chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Phí vận chuyển</th>
                        <th>Trạng Thái</th>
                        <th>Ngày Đặt Hàng</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.account.username)</td>
                            <td>@Html.DisplayFor(modelItem => item.address)</td>
                            <td>@Html.DisplayFor(modelItem => item.phone_number)</td>
                            <td>@Html.DisplayFor(modelItem => item.shipping_fee)</td>
                            <td>@Html.DisplayFor(modelItem => item.status)</td>
                            <td>@Html.DisplayFor(modelItem => item.created_at)</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v ellipse_color"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        @Html.ActionLink("Chi tiết", "Details", new { id = item.order_id }, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.order_id }, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.order_id }, new { @class = "dropdown-item" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <div class="pagination-container">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
            {
                UlElementClasses = new string[] { "pagination" },
                LiElementClasses = new string[] { "page-item" },
                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                LinkToFirstPageFormat = "<<",
                LinkToPreviousPageFormat = "<",
                LinkToNextPageFormat = ">",
                LinkToLastPageFormat = ">>",
                MaximumPageNumbersToDisplay = 5,
                EllipsesFormat = "&#8230;"
            })
        </div>
    </div>
</div>

<!-- Modal -->
<div id="delete_asset" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/assets/img/sent.png" alt="" width="50" height="46">
                <h3 class="delete_class">Bạn có chắc muốn xóa không?</h3>
                <div class="m-t-20">
                    <a href="#" class="btn btn-white" data-dismiss="modal">Hủy</a>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>
