@model Book_Store.Models.cart_book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>cart_book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.book.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cart.cart_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cart.cart_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
