@model IEnumerable<Book_Store.Models.cart_book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:white;">Thông tin đơn hàng</h3>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table" style="text-align:center;">
    <tr>
        <th>
            Tên sách
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Thành tiền
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.book.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_amount)
            </td>
            <td>
                @Html.ActionLink("Xóa", "Delete", new { cardId = item.card_id, bookId = item.book_id })
            </td>
        </tr>
    }
</table>

<p>@ViewBag.Error</p>
<p>@ViewBag.Success</p>

<p style="text-align:right; font-weight:600;">Tổng tiền: @ViewBag.Total</p>
<div class="d-flex flex-column align-items-end">
    @using (Html.BeginForm("Index", "Cart_Book", FormMethod.Post))
    {
        <div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Địa chỉ:</span>
                <input type="text" name="address" class="form-control">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Số điện thoại:</span>
                <input type="number" name="phone_number" class="form-control">
            </div>
            <div style="display: flex; justify-content: flex-end;">
                <button type="submit" class="btn btn-success my-2">Mua hàng</button>
            </div>
        </div>
    }
</div>


@*<a href="/Orders/Index">Xem đơn hàng</a>*@

<style>
    h3 {
        margin-top: 5px;
        width: 100%;
        background-color: #36a189;
        padding: 10px;
        text-align: left;
        margin-bottom: 20px;
        border-radius: 5px;
    }
</style>