@model PagedList.IPagedList<BookStoreAdmin.Models.account>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
    //List<BookStoreAdmin.Models.account> listAccount = ViewBag.listAdmin;
}


<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="~/assets/css/feathericon.min.css">
<link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">
<link rel="stylesheet" href="~/assets/plugins/morris/morris.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-datetimepicker.min.css">

<link rel="stylesheet" href="assets/css/style.css">

<div class="page-header">
    <div class="row">
        <div class="col-sm-12 mt-5">
            <h3 class="page-title mt-3">Dashboard</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active"></li>
            </ul>
        </div>


    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card board1 fill">
            <div class="card-body">
                <div class="dash-widget-header">
                    <div>
                        <h3 class="card_widget_header">@ViewBag.sold</h3>
                        <h6 class="text-muted">Số sách đã bán</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2"
                                 stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-user-plus">
                                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="8.5" cy="7" r="4"></circle>
                                <line x1="20" y1="8" x2="20" y2="14"></line>
                                <line x1="23" y1="11" x2="17" y2="11"></line>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card board1 fill">
            <div class="card-body">
                <div class="dash-widget-header">
                    <div>
                        <h3 class="card_widget_header">VNĐ @ViewBag.revenue</h3>
                        <h6 class="text-muted">Doanh thu</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2"
                                 stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-dollar-sign">
                                <line x1="12" y1="1" x2="12" y2="23"></line>
                                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card board1 fill">
            <div class="card-body">
                <div class="dash-widget-header">
                    <div>
                        <h3 class="card_widget_header">@ViewBag.remain</h3>
                        <h6 class="text-muted">Số sách còn lại</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2"
                                 stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-file-plus">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z">
                                </path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="12" y1="18" x2="12" y2="12"></line>
                                <line x1="9" y1="15" x2="15" y2="15"></line>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card board1 fill">
            <div class="card-body">
                <div class="dash-widget-header">
                    <div>
                        <h3 class="card_widget_header">@ViewBag.cntCart</h3>
                        <h6 class="text-muted">Số đơn hàng</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2"
                                 stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-globe">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="2" y1="12" x2="22" y2="12"></line>
                                <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                </path>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 d-flex">
        <div class="card card-table flex-fill">
            <div class="card-header">
                <h4 class="card-title float-left mt-2">Quản lý</h4>
                <a href="@Url.Action("Create", "accounts")" class="btn btn-primary float-right veiwbutton">
                    Thêm mới
                    </a>
</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="table" class="table table-hover table-center">
                        <thead>
                            <tr>
                                <th>Mã tài khoản</th>
                                <th>Tên quản lý</th>
                                <th>Email</th>
                                <th>Ngày tạo tài khoản</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.account_id</td>
                                    <td>@item.username</td>
                                    <td>@item.email</td>
                                    <td>@item.created_at</td>
                                    <td>
                                        <a class="btn btn-success" href=""><strong>Sửa</strong></a>
                                        <strong>|</strong>
                                        <button class="btn btn-danger delete-button" data-id="@item.account_id">Delete</button>
                                    </td>

                                </tr>
                            }
                        </tbody>

                    </table>
                    <div id="deleteModal" class="modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Xác nhận</h5>
                                    <button id="cancelButton" type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    Bạn có chắc chắn muốn xoá tài khoản này?
                                </div>
                                <div class="modal-footer">
                                    <button id="cancelButton1" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button id="confirmDeleteButton" type="button" class="btn btn-danger delete-button">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="pagination-container">
                        @Html.PagedListPager(Model, page => Url.Action("Index" ,new { page }), new PagedListRenderOptions
                       {
                           UlElementClasses = new string[] { "pagination" },
                           LiElementClasses = new string[] { "page-item" },
                           DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                           DisplayLinkToLastPage = PagedListDisplayMode.Always,
                           DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                           DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                           LinkToFirstPageFormat = "<<",
                           LinkToPreviousPageFormat = "<",
                           LinkToNextPageFormat = ">",
                           LinkToLastPageFormat = ">>",
                           MaximumPageNumbersToDisplay = 5,
                           EllipsesFormat = "&#8230;"
                       })
                    </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery-3.5.1.min.js"></script>


<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/moment.min.js"></script>
<script src="~/assets/js/select2.min.js"></script>

<script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

<script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/assets/plugins/datatables/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $('.delete-button').click(function() {
            var accountId = $(this).data('id');
            $('#confirmDeleteButton').data('id', accountId);
            $('#deleteModal').modal('show');
        });

        $('#cancelButton').click(function () {
            $('#deleteModal').modal('hide');
        });

        $('#cancelButton1').click(function () {
            $('#deleteModal').modal('hide');
        });

        $('#confirmDeleteButton').click(function() {
            var accountId = $(this).data('id');
            console.log(accountId);
            $.post('@Url.Action("Delete", "Home")', { accountId: accountId })
                .done(function(data) {
                    // Nếu xóa thành công, cập nhật giao diện người dùng
                    alert('Success');
                    window.location.reload();
                })
                .fail(function() {
                    alert('Failed to delete account.');
                })
                .always(function() {
                    $('#deleteModal').modal('hide');
                });
        });
    });
</script>
