@model Book_Store.Models.book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.author.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publish_company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publish_company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publish_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publish_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.book_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
