@model BookStoreAdmin.Models.book

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2 class="text-danger"></h2>

<div class="alert alert-warning" role="alert">
    <h3>Bạn có chắc chắn muốn xóa ?</h3>
</div>

<div class="card">
    <div class="card-header bg-danger text-white">
        <h4>Chi Tiết Sách</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
               Tác Giả
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.author.name)
            </dd>

            <dt class="col-sm-3">
                Danh Mục
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.category.name)
            </dd>

            <dt class="col-sm-3">
                Tên Sách
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt class="col-sm-3">
                Bìa Sách
            </dt>
            <dd class="col-sm-9">
                <img src="~/assets/img/product/@(Model.image)" alt="@Model.name" width="100px" height="70px" class="rounded" />
            </dd>

            <dt class="col-sm-3">
                Mô Tả
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.description)
            </dd>

            
        </dl>
    </div>
    <div class="card-footer text-center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-danger">Xóa</button>
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary ml-2" })
        }
    </div>
</div>
