@model BookStoreAdmin.Models.book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="page-header mt-5">
    <div class="row">
        <div class="col">
            <h3 class="page-title">Thông tin sách</h3>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h4 class="card-title">@Html.DisplayFor(model => model.name)</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <img src="~/assets/img/product/@Model.image" alt="@Model.name" class="img-fluid" />
            </div>
            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.author.name)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.author.name)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.category.name)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.category.name)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.description)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.description)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.publish_company)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.publish_company)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.publish_year)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.publish_year)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.price)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.price)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.sold)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.sold)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.remain)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.remain)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.is_deleted)</dt>
                    <dd class="col-sm-8">
                        @if (Model.is_deleted == 1)
                        {
                            <span class="text-danger">Đã xóa</span>
                        }
                        else
                        {
                            <span class="text-success">Còn</span>
                        }
                    </dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.created_at)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.created_at)</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        @Html.ActionLink("Edit", "Edit", new { id = Model.book_id }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
